{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MATERI TRANSFORMASI GEOMETRI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

<body>
    <!--bagian navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color:#BDB76B;">
      <div class="container-fluid">
        <img src="{% static 'logo.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'index' %} active {% endif %}" aria-current="page" href="{% url 'index' %}" style="color:	#FFFFFF">UNTIRTA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'profile' %} active {% endif %}" href="{% url 'profile' %}" style="color:	#FFFFFF">PROFILE</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:	#FFFFFF">
                MATERI
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" style="background-color:#BDB76B;">
                <li><a class="dropdown-item {% if dropdown == 'applet' %} active {% endif %}" href="{% url 'applet' %}" style="color:	#000000">APPLET GEOGEBRA</a></li>

                <li><a class="dropdown-item {% if dropdown == 'bab1' %} active {% endif %}" href="{% url 'bab1' %}" style="color:	#000000">BAB 1</a></li>

                <li><a class="dropdown-item {% if dropdown == 'bab2' %} active {% endif %}" href="{% url 'bab2' %}" style="color:	#000000">BAB 2</a></li>

                <li><a class="dropdown-item {% if dropdown == 'bab3' %} active {% endif %}" href="{% url 'bab3' %}" style="color:	#000000">BAB 3</a></li>

                <li><a class="dropdown-item {% if dropdown == 'bab4' %} active {% endif %}" href="{% url 'bab4' %}" style="color:	#000000">BAB 4</a></li>

              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'about' %} active {% endif %}" href="{% url 'about' %}" style="color:#FFFFFF"">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'mahasiswa' %} active {% endif %}" href="{% url 'mahasiswa' %}" style="color:	#FFFFFF">DATA MAHASISWA</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-outline-success" type="submit" style="color:#FFFFFF">Search</button>
          </form>
        </div>
      </div>
    </nav>
      <!--penutup navbar-->

      <link rel="stylesheet" href="{% static 'css/style.css' %}">

      <br></br>
        <h2>Data Mahasiswa</h2>
    <table class="table table-striped">
      <tr>
        <th>No</th>
        <th>NIM</th>
        <th>Nama</th>
        <th>TTL</th>
        <th>Email</th>
        <th>Fakultas</th>
        <th>Prodi</th>
      </tr>
      {% for mahasiswa in dataMahasiswa %}
      <tr>
        <td>{{ mahasiswa.nomor }}</td>
        <td>{{ mahasiswa.nim }}</td>
        <td>{{ mahasiswa.nama }}</td>
        <td>{{ mahasiswa.ttl }}</td>
        <td>{{ mahasiswa.email }}</td>
        <td>{{ mahasiswa.fakultas }}</td>
        <td>{{ mahasiswa.prodi }}</td>
      </tr>
      {% endfor %}
    </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>